.individualMoviePage .column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.individualMoviePage .column .top {
  display: flex;
  flex-direction: row;
}

.trailerPurchase {
  display: flex;
  margin-bottom: 1%;
}

.individualMoviePage .column .top .right {
  display: flex;
  margin-left: 50%;
  margin-top: 100%;
}

.individualMoviePage .column .top .moviePoster .poster {
  margin-top: 10%;
  height: 480px;
  width: 820px;
  margin-bottom: 3%;
}

.individualMoviePage .column .movieDescription {
  width: 985px;
  min-height: 70px;

  background: #a8b8b6;

  box-sizing: border-box;
  border-radius: 10px;

  overflow-wrap: word-break;
  margin-top: 3%;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 5%;
  padding-bottom: 1%;
}

.individualMoviePage .column .discussionSection .posts {
  display: flex;
  margin: 5%;
}

.PostButton {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
