.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.Comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-section {
  display: flex;
  flex-direction: column;
}

.edit-post {
  display: flex;
  flex-direction: column;
}

.test {
  margin: 1%;
}
.titlearea {
  width: 300px;
}
.popup-content {
  margin: auto;
  width: 50%;
  padding: 5px;
}
