.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.Comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-section {
  display: flex;
  flex-direction: column;
}

.edit-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  margin: 1%;
}

.alter {
  display: flex;
  justify-content: space-evenly;
  margin: 2%;
}

.deleteButton {
  display: flex;
  justify-content: center;
}
