.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 200px;
}
Product{
    border: 25px solid white;
}
.store{
    text-align: center;
    color: white
}