.people {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 70px;
}
.greeting {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: x-large;
  font-weight: 600;
}
.person1,
.person2,
.person3 {
  border: 3px solid white;
  border-radius: 10px;
  width: 250px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: large;
}
.person1 img {
  width: 250px;
}
.person2 img {
  width: 250px;
}
.person3 img {
  width: 250px;
}
.info {
  display: flex;
  justify-content: center;
}
